:root {
  --dark-grey: rgba(32, 32, 32);
}

body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.nav {
  width: 100%;
  height: 44px;
  background-color: darkgoldenrod;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark-grey);
  text-align: center;
}

.nav-button {
  padding: 15px 20px;
  color: white;
  width: 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
  transition: 0.2s ease;
  cursor: pointer;
}

.nav-button:hover {
  color: lightgray;
}