:root {
  --dark-grey: rgba(32, 32, 32);
  --light-shadow: 0 2px 4px rgba(0,0,0,.07);
	--medium-shadow: 0 2px 8px rgba(0,0,0,.11);
  --dark-shadow: 0 4px 6px rgba(0,0,0,.15);
  --nav-height: 84px;
  --light-grey: #f2f2f2;
  --medium-grey: #e4e4e4;
  --space-on-side-nav: 20px;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.nav {
  width: calc(100% - 2 * var(--space-on-side-nav));
  height: var(--nav-height);
  background-color: darkgoldenrod;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px var(--space-on-side-nav);
  background-color: white;
  text-align: center;
}

.nav-button {
  padding: 13px 11px;
  color: black;
  opacity: 0.75;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}

.nav-button:hover {
  text-decoration: underline;
}

.left-nav-group {
  float: left;
}

.right-nav-group {
  float: right;
}

.nav-offset {
  margin-top: var(--nav-height);
}

.nav-image {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.nav-image:hover {
  opacity: 1.0;
}

.profile-picture {
  border-radius: 35px;
  width: 35px;
  height: 35px;
  padding: 6px 5px;
}

.nav-image.profile-picture {
  opacity: 1.0;
}

.footer {
  background-color: var(--light-grey);
  position: fixed;
  width: calc(100% - 2 * var(--space-on-side-nav));
  height: 44px;
  bottom: 0;
  left: 0;
  padding: 0px var(--space-on-side-nav);
  border-top: 1px solid var(--medium-grey);
}

.page-title {
  text-align: center;
  margin: 20px auto;
}

.todo {
  background-color: rgb(240, 240, 240) !important;
  cursor: default !important;
}

.todo:hover {
  cursor: default !important;
}
