.sq-container {
  width: 900px;
  margin: 0px auto;
  position: relative;
  /*background-color: lightcyan;*/
}

.sq-buttons-container {
  text-align: center;
}

.sq-button {
  padding: 7px;
  font-size: 16px;
  border-radius: 4px;
  display: inline-block;
  margin: 5px;
  box-shadow: var(--medium-shadow);
  background-color: rgb(255, 239, 170);
  cursor: pointer;
  transition: 0.2s ease;
}

.sq-button:hover {
  background-color: rgb(245, 226, 141);
}

.sq-info {
  text-align: center;
  margin: 30px;
}

.square {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 40px auto;
  border-radius: 6px;
  background-color: darkred;
  box-shadow: var(--dark-shadow);
  transition: 0.2s ease;
  opacity: 1;
}

.square.hide {
  opacity: 0;
}

.square.red {
  background-color: darkred;
}

.square.blue {
  background-color: midnightblue;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.spin-animation {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}